{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central %}
          
        <div class="LineaFormulario">  </div>
        <div class="LineaFormulario">  </div>
    
        <form id="selectCats" action="{{path('autor_buscar_resp')}}" method="POST">
            
            <div class="LineaFormulario">  </div>
            <div class="LineaFormulario">  </div>
            <div class="LineaFormulario"> 
                <p class="izquierda separarIzq15">Seleccione un autor de la lista y a continuación se mostrarán todas sus recetas.</p>
            </div>
            <div class="LineaFormulario">  </div>
            <div class="LineaFormulario izquierda separarIzq15">      
                <label for="nombre" class="letraverde">Autor: </label>                                    
                     <select name="nombre" onblur="submitform(this)" class="izquierda">                         
                     {% for entity in entities %}
                        <option value="{{ entity.id }}">{{ entity.nombre }} {{ entity.apellidos }} ({{ entity.restaurante }})</option>                        
                     {% endfor %}
                     </select>                                          
             </div>
             <input type="hidden" id="nomOculto" name="nomOculto" value=""/>
        </form>
    
    <div class="LineaFormulario">  </div>
    <div class="LineaFormulario">  </div>          
 
    {%set cont=0%}  
   {% if nomAutor is not null%}
       <div class="LineaFormulario">  
        <h1 class="izquierda separarIzq15">Recetas de {{nomAutor}}</h1>
       </div>
       <div class="LineaFormulario">  </div>
     {% for entity in recetasAutor %}    
         
       {# <div class="LineaFormulario">  
            <h3 class="izquierda separarIzq15">{{ entity.fechaPub|date('Y/m/d') }}
            - ({{ entity.categ.titulo | upper }}) <a href="{{path('receta_show',{'id': entity.id} )}}"> {{ entity.titulo }}</a>
            </h3>                  
         </div>
        <div class="LineaFormulario">
            <img class="izquierda separarIzq15" src="{{ asset('bundles/unirecetas/img/'~ entity.fotopeq  ~ '') }}"/>        
        </div>#}               
        
        {%set cont=cont+1%}            
            {%if cont <=3%}                                      
            <div class="colcentral bordeverde">                        
                    <h3>{{ entity.fechaPub|date('Y/m/d') }}- ({{ entity.categ.titulo | upper }})
                        <br><a href="{{path('receta_show',{'id': entity.id} )}}">
                               {{ entity.titulo  | truncate (18)}}
                        </a></h3>                   
                       <br> <img src="{{ asset('bundles/unirecetas/img/'~ entity.fotopeq  ~ '') }}"/>
            </div>              
            {%elseif cont ==4%}
                <div class="coldcha bordeverde">&nbsp;</div> 
                {%set cont=0%}
                <h3>{{ entity.fechaPub|date('Y/m/d')}}- ({{ entity.categ.titulo | upper }})
                    <br><a href="{{path('receta_show',{'id': entity.id} )}}">
                               {{ entity.titulo  | truncate (18)}}
                        </a></h3>                   
                       <br> <img src="{{ asset('bundles/unirecetas/img/'~ entity.fotopeq  ~ '') }}"/>
            {%endif%}   
        
        
 {% endfor %}
 {%endif %}
    
        <div class="LineaFormulario">   
            <a href="{{ path('receta') }}"> Volver atrás</a>            
        </div>
{% endblock %}
