{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central %}
          
        <div class="LineaFormulario">  </div>
        <div class="LineaFormulario">  </div>
    
        <form id="selectCats" action="{{path('autor_buscar_resp')}}" method="POST">
             <div class="LineaFormulario">      
                    Buscar autor:                                      
                     <select name="nombre" onchange="submitform(this)">                         
                     {% for entity in entities %}
                        <option value="{{ entity.id }}">{{ entity.nombre }} {{ entity.apellidos }} ({{ entity.restaurante }})</option>                        
                     {% endfor %}
                     </select>                                          
             </div>
             <input type="hidden" id="nomOculto" name="nomOculto" value=""/>
        </form>
    
    <div class="LineaFormulario">  </div>
    <div class="LineaFormulario">  </div>          
 
   {% if nomAutor is not null%}
     <h1>Recetas de {{nomAutor}}</h1>
     {% for entity in recetasAutor %}                     
        <div class="LineaFormulario">  
            <h2><a href="{{path('receta_show',{'id': entity.id} )}}">
                           {{ entity.titulo }}
                    </a></h2>                      
                   <p> ({{ entity.categ.titulo | upper }}) {{ entity.elaboracion | truncate (100)}}  </p>
        </div>
 {% endfor %}
 {%endif %}
    
{% endblock %}
