{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    
    <div class="LineaFormulario">  
        <h1>Autores</h1>
       </div>

    <table class="records_list">
        <thead>
            <tr>                
                <th>Nombre</th>
               
                <th>Restaurante</th>                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('autor_show', { 'id': entity.id }) }}">{{ entity.nombre }} {{ entity.apellidos }}</a></td>
               
                <td>{{ entity.restaurante }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('receta') }}"> Volver atrás</a>
            <a href="{{ path('autor_new') }}">Añadir autor</a>
        </div>
    
    {% endblock %}
