{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Detalle autor</h1>

    <table class="record_properties">
        <tbody>
            
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }} {{ entity.apellidos }}</td>
            </tr>
         
            <tr>
                <th>Restaurante</th>
                <td>{{ entity.restaurante }}</td>
            </tr>
        </tbody>
    </table>        
    
     <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('autor') }}"> Volver atrás</a>
            <a href="{{ path('autor_edit', { 'id': entity.id }) }}">Editar autor</a>
            {{ form(delete_form) }}
        </div>
{% endblock %}
