{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Categorias</h1>

    <table class="records_list">
        <thead>
            <tr>                
                <th>Titulo</th>
                <th>Descripcion</th>                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categoria_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></td>                
                <td>{{ entity.descripcion }}</td>             
            </tr>
        {% endfor %}
        </tbody>
    </table>      
                
       <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('receta') }}"> Volver atrás</a>
            <a href="{{ path('categoria_new') }}">Añadir categoría</a>
           {# {{ form(delete_form) }}#}
        </div>
    {% endblock %}
