{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Detalle categoría</h1>

    <table class="record_properties">
        <tbody>           
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>       
   
   <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('categoria') }}"> Volver atrás</a>
            <a href="{{ path('categoria_edit', { 'id': entity.id }) }}">Editar categoría</a>
           {# {{ form(delete_form) }}#}
    </div>

{% endblock %}
