{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
   <h1>Editar receta</h1>
 
    <form id="idFormRec" action="{{ path('receta_update2') }}" method="post">
        
    <div class="detalleNot">
        <div class="LineaFormulario"></div>
        
        <div class="LineaFormulario">            
            <label for="idTituloRec">Titulo:</label>
            <input type="text" id="idTituloRec" name="titulo" value="{{entity.titulo}}" class="izquierda separarIzq15"/>           
        </div>
        
        <div class="LineaFormulario"></div>       

        <div class="LineaFormulario">            
            <label for="idFotoPRec">Foto pequeña:</label>
            <input type="text" id="idFotoPRec" name="fotop" value="{{entity.fotoPeq}}" class="izquierda separarIzq15"/>
        </div>
        
        <div class="LineaFormulario"></div>  
        
        <div class="LineaFormulario">            
            <label for="idFotoRec">Foto:</label>
            <input type="text" id="idFotoRec" name="foto" value="{{entity.foto}}" class="izquierda separarIzq15"/>
        </div>
        
        <div class="LineaFormulario"></div>  
        
        <div class="LineaFormulario">            
            <label for="idAutorRec">Autor:</label>
            <select name="idAutorRec" class="izquierda separarIzq15">                         
                     {% for autor in autores %}
                         {%if autor.id == entity.aut.id%}
                            <option value="{{ autor.id }}" selected>{{ autor.nombre }} {{ autor.apellidos }} ({{ autor.restaurante }})</option>                        
                         {%else%}
                             <option value="{{ autor.id }}">{{ autor.nombre }} {{ autor.apellidos }} ({{ autor.restaurante }})</option>
                         {%endif%}
                     {% endfor %}
            </select>  
        </div>
            
        <div class="LineaFormulario"></div>  
        
        <div class="LineaFormulario">            
            <label for="idCatRec">Categoria:</label>
            <select name="idCatRec" class="izquierda separarIzq15">                         
                     {% for cat in categorias %}
                         {%if cat.id == entity.categ.id%}
                            <option value="{{ cat.id }}" selected>{{ cat.titulo }}</option>                        
                         {%else%}
                            <option value="{{ cat.id }}">{{ cat.titulo }}</option>
                         {%endif%}
                     {% endfor %}
            </select>  
        </div>
            
        <div class="LineaFormulario"></div>
        
        <div class="LineaFormulario">            
            <label for="idNumPers">Numero de personas:</label>
            <input type="text" id="idNumPers" name="numpers" value="{{ entity.numpers }}" class="izquierda separarIzq15"/>           
        </div>
        
        <div class="LineaFormulario"></div>
        
        <div class="LineaFormulario">            
            <label for="idFechaPub">Fecha publicacion:</label>
            <input type="text" id="idFechaPub" name="fechapub" value="{{ entity.fechaPub|date('Y/m/d') }}" class="izquierda separarIzq15"/>            
        </div>

        <div class="LineaFormulario">            
            <label for="idElab">Elaboración:</label>
            <textarea id="idElab" name="textElab" rows="10" cols="50" class="izquierda separarIzq15">{{ entity.elaboracion }}</textarea>
        </div>

        <div class="LineaFormulario"></div>
        <div class="LineaFormulario"></div>
        <input type="hidden" name="idReceta" value={{entity.id}}/>
        
        <div class="LineaFormulario"></div>               
                                          
       <div class="LineaFormulario"> <h2 class="izquierda separarIzq15">Ingredientes</h2>                            
        </div> 
         <p class="izquierda">Seleccione los ingredientes con el siguiente formato: <i>200 gramos mantequilla</i>. 
            Hay un limite de 10 ingredientes.</p>  
        <div id="container" class="LineaFormulario izquierda">
            {%set i=1%}           
                {% for ing in entity.recingr%}            
                    <div class="LineaFormulario izquierda">

                            <input type=text size="1" name="{{'tb'~ i}}" value="{{ing.cantidad}}" />
                            <input type=text size="4" name="{{'tb'~ i~ i}}" value="{{ing.unidad}}" />                          
                                <select name="{{'tb'~ i~ i~ i}}"> 
                                    <option value="-1">&nbsp;</option> 
                             {% for ingred in eingredientes %}
                                 {%if ingred.id == ing.iingrediente.id%}
                                    <option value="{{ ingred.id }}" selected>{{ ingred.nombre }}</option>                        
                                 {%else%}
                                     <option value="{{ ingred.id }}">{{ ingred.nombre }}</option>                        
                                 {%endif%}                             
                            {% endfor %}
                            </select>
                    </div>   
                    {%set i=i+1%}
                {%endfor%}
                {%for j in i..10%}
                    <div class="LineaFormulario izquierda">                
                           <input type=text size="1" name="{{'tb'~ j}}" value="" />
                           <input type=text size="4" name="{{'tb'~ j~ j}}" value="" />
                           <select name="{{'tb'~ j~ j~ j}}">   
                               <option value="-1">&nbsp;</option> 
                            {% for ingred in eingredientes %}                              
                                <option value="{{ ingred.id }}">{{ ingred.nombre }}</option>                         
                            {%endfor %}                        
                           </select>
                   </div>
                {%endfor %}
        </div>        
        
        <div class="LineaFormulario"></div>
        <div class="LineaFormulario"></div>
        
        <div class="LineaFormulario">
            <input type="submit" name="Guardar" value="Guardar"/>
        </div>
        
        <div class="LineaFormulario">
            <a href="{{ path('receta')}}">
               Volver atras
           </a>
        </div>
    </div>
    </form>  
{% endblock %}
