{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central %}
        
    {%if ecategoria is not null%}
    
    <h1> {{ecategoria.titulo}}</h1> 
    <div class="centrado fondofotos">
    {% for entity in recetas %}                  
            
            {% if loop.index <= "4" %}
            <div class="col1 borde">                        
                <h2><a href="{{path('receta_show',{'id': entity.id} )}}">
                           {{ entity.titulo }}
                    </a></h2>                   
                   <br> <img src="{{ asset('bundles/unirecetas/img/'~ entity.fotopeq  ~ '') }}"/>                                                                     
            </div>            
            {%endif%}
            
    {% endfor %}
    </div>    
{% endif %}
        <div class="LineaFormulario">   
            <a href="{{ path('receta') }}"> Volver atrás</a>
            <a href="{{ path('receta_new_reccat',{'id': categoria} ) }}"> Nueva receta</a>                             
        </div>
    
{% endblock %}
