{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central %}
    <h1>receta list</h1>

    <table class="records_list">
        <thead>
            <tr>                
                <th>Titulo</th>
                <th>Elaboracion</th>
                <th>Foto</th>
                <th>Numpers</th>
                <th>Autor</th>
                <th>Categoria</th>                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('receta_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></td>                
                <td>{{ entity.elaboracion }}</td>
                <td>{{ entity.foto }}</td>
                <td>{{ entity.numpers }}</td>
                <td>{{ entity.aut.nombre }}</td>
                <td>{{ entity.categ.titulo }}</td>                
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('receta_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
