{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central %}
        
    <h1> {{ecategoria.titulo}}</h1> 
    
    {% for entity in recetas %}                  
            
            {% if loop.index <= "4" %}
            <div class="{{'col'~ loop.index}}">                        
                <h2><a href="{{path('receta_show',{'id': entity.id} )}}">
                           {{ entity.titulo }}
                    </a></h2>                      
                   <p> ({{ entity.categ.titulo | upper }}) {{ entity.elaboracion | truncate (100)}}  </p>
                   <br> <img src="{{ asset('bundles/unirecetas/img/'~ entity.fotopeq  ~ '') }}"/>                                                                     
            </div>
            {# METE IF PARA SACAR EL RESTO DE NOTICIAS EN FILA SIN FOTO#}
                   {% elseif loop.index > "4" %}                         
                       <div class="col5 textoizq">
                            <br>
                           <a href="{{path('receta_show',{'id': entity.id} )}}" class="negrita separarIzq20">
                           {{ entity.titulo }}
                            </a>  
                            <p class="separarIzq20">({{ entity.categ.titulo | upper }}) {{ entity.elaboracion | truncate (100)}} </p>
                       </div>    
                    {%endif%}
            
        {% endfor %}
        

        <div class="LineaFormulario">   {#AQUI HAY QUE PASAR EL TIPO DE RECETA#}                            
            <a href="{{ path('receta_new') }}"> Nueva receta</a>                             
        </div>
    
{% endblock %}
