{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central %}       
    
    <h1>Nueva receta</h1>
 
    <form id="idFormRec" action="{{ path('receta_save_reccat') }}" method="post" enctype="multipart/form-data">
        
    <div class="detalleNot">
        <div class="LineaFormulario"></div>
        
        <div class="LineaFormulario">            
            <label for="idTituloRec">Titulo:</label>
            <input type="text" id="idTituloRec" name="titulo" class="izquierda separarIzq15"/>           
        </div>
        
        <div class="LineaFormulario"></div>       

        <div class="LineaFormulario">            
            <label for="idFotoPRec">Foto pequeña:</label>
            <input type="text" id="idFotoPRec" name="fotop" class="izquierda separarIzq15"/>
        </div>
        
        <div class="LineaFormulario"></div>  
        
        <div class="LineaFormulario">            
            <label for="idFotoRec">Foto:</label>
            <input type="text" id="idFotoRec" name="foto" class="izquierda separarIzq15"/>
        </div>
        
        <div class="LineaFormulario">            
            <label for="idAutorRec">Autor:</label>
            <select name="idAutorRec" class="izquierda separarIzq15">                         
                    {% for entity in entities %}
                        <option value="{{ entity.id }}">{{ entity.nombre }} {{ entity.apellidos }} ({{ entity.restaurante }})</option>                        
                     {% endfor %}
            </select>  
        </div>
            
        <div class="LineaFormulario"></div>              
        <div class="LineaFormulario">            
            <label for="idCat">Categoría:</label>
            <select name="idCat" class="izquierda separarIzq15">                         
                    {% for entity in ecat %}
                        <option value="{{ entity.id }}">{{ entity.titulo }}</option>                        
                     {% endfor %}
            </select>  
        </div>
        
        <div class="LineaFormulario">            
            <label for="idNumPers">Numero de personas:</label>
            <input type="text" id="idNumPers" name="numpers" class="izquierda separarIzq15"/>           
        </div>

        <div class="LineaFormulario">            
            <label for="idElab">Elaboración:</label>
            <textarea id="idElab" name="textElab" rows="10" cols="50" class="izquierda separarIzq15">Elaboración de la receta</textarea>
        </div>

        <div class="LineaFormulario"></div>               
        <div class="LineaFormulario">                                
            <h2 class="izquierda separarIzq15">Ingredientes</h2>
            <p class="izquierda">Los ingredientes se informarán una vez guardados los datos básicos de la receta.</p>
        </div>       
        
        <div class="LineaFormulario"></div>
        <div class="LineaFormulario"></div>
        <div class="LineaFormulario">
            <input type="submit" name="Guardar" value="Guardar"/>
        </div>
        
        <div class="LineaFormulario">
            <a href="{{ path('receta') }}">
               Volver atras
           </a>
        </div>
               
    </div>
    </form>           

{% endblock %}

