{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Ingredientes</h1>

    <table class="records_list">
        <thead>
            <tr>                
                <th>Nombre</th>
                <th>Descripcion</th>               
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ingrediente_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>                
                <td>{{ entity.descripcion }}</td>
               {# <td>
                <ul>
                    <li>
                        <a href="{{ path('ingrediente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ingrediente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
       <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('receta') }}"> Volver atrás</a>
            <a href="{{ path('ingrediente_new') }}">Añadir ingrediente</a>
        </div>
    {% endblock %}
