{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Detalle ingrediente</h1>

    <table class="record_properties">
        <tbody>           
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>
         
     <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('ingrediente') }}"> Volver atrás</a>
            <a href="{{ path('ingrediente_edit', { 'id': entity.id }) }}">Editar ingrediente</a>
            {{ form(delete_form) }}
        </div>
{% endblock %}
